{
  "presets": [
    ["env", { "modules": false }],
    ["es2015", { "loose": true, "modules": false }],
    "stage-2"
  ],
  "plugins": ["syntax-dynamic-import", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
